.img-popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: zoom-out;
}

.img-popup img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.dog-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.dog-card img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}
